.DS_Store
node_modules
public/
prof
tsconfig.tsbuildinfo
.quartz-cache
pxl-*.png

# Obsidian
.obsidian/
.trash/
*.sync-conflict-*

private/
templates/

# Local/Temp
.vercel/
.npm/
.quartz-cache
tsconfig.tsbuildinfo
