@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap');

body {
  --headerFont: "JetBrains Mono", "Shippori Mincho", monospace;
  --bodyFont: "JetBrains Mono", "Shippori Mincho", sans-serif;
  --codeFont: "JetBrains Mono", "Shippori Mincho", monospace;
}
